---
interface Props {
  name: string;
  type: string;
  kcal: number;
  p: number;
  f: number;
  c: number;
  img: string;
}

const { name, kcal, p, f, c, img } = Astro.props;
---
<div class="meal">
  <img src={img} onclick={`openLightbox('${img}')`} alt={name}>
  <div>
    <h3>{name}</h3>
    <p>{kcal} ккал • Б:{p} Ж:{f} У:{c}</p>
  </div>
</div>
