---
export interface Props {
  name: string;
  kcal: number;
  p: number;
  f: number;
  c: number;
  img: string;
  type: string;
}
const { name, kcal, p, f, c, img, type } = Astro.props;
---

<div class="meal">
  <img src={img} alt={name} onclick="openLightbox(this.src)" />
  <div>
    <h3>{name}</h3>
    <p>{kcal} ккал • Б:{p} Ж:{f} У:{c}</p>
  </div>
</div>